body {
	width: 50%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

figure.figure {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0;
	margin-bottom: 30px;
}

figure.figure img {
	width: 100%;
	height: auto;
}

h1 {
	font-weight: lighter;
	font-size: 2rem;
	text-align: center;
}

figure.figure figcaption {
	max-width: 100%;
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
	padding: 20px 30px;
}

div.dateContainer {
	background-color: rgb(233, 233, 233);
	position: relative;
	height: 40px;
	padding: 10px;
}

div.dateContainer input.date {
	height: 35px;
	width: 40%;
	border: 1px black solid;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 5px;
}

div.dateContainer label {
	color: #333333;
	font-weight: lighter;
}

#copyright, #date {
	color: #303030;
}

p {
	font-size: 1rem;
	text-align: justify;
	font-weight: ligher;
}

p::first-letter {
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	font-size: 1.4rem;
	font-weight: bold;
}

hr {
	margin-top: 80px;
}

footer {
	margin-bottom: 15px;
	text-align: center;
	font-weight: lighter;
	color: #303030;
}

button {
	float: right;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

@media only screen and (max-width: 900px) {
	body {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	body {
		width: 90%;
	}
}
